<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>CamyDoces</title>
	<body>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<!-- Block level -->
	
	<br><button type="button" class="btn btn-primary">Home</button><br/>
	<br><h5 class="text-info bg-dark"> Sua visita pra nós é muito especial pois temos prazer em atender quem aprecia o melhor do Doce Gourmet do Brasil.....Navegue e se Apaixone!!!</h5><br/>
	<!DOCTYPE html>
<html>
<body>

<h1 style="text-align:center;">  Bem  Vindo  a Confeitaria CamyDoces!!!</h1>
<p style="text-align:center;">Paixão em adoçar a Vida</p>



</body>
</html>



	
</body>
</head>
</html>