<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Camy Doces</title>
	<link rel ="stylesheet" href= "css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>

<body class="color-page">
	<div class="card" style="width: 18rem;">
    <script type="text/javascript" src="js/index_001.js"></script>
	<div class="container-principal" id="topo">
		<header>
			<div class="logo">
				<a href="index.html">
					<img src="bolo.jpeg" alt="logo site">
				</a>
			</div>
			<nav>
				<ul>
                    <li><a href="login.html">Login</a></li>
					<li><a href="cadastro.html">Cadastro</a></li>
					<li><a href="pedidos.html">Pedido</a></li>
					<li><a href="coloco o arq aq">Sobre</a></li>
					<li><a href="coloco o arq aq">Contato</a></li>
				</ul>
			</nav>
		</header>
	</div>
</body>
</html>