<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Camy Doces</title>
	<link rel="stylesheet" type="text/css" href="static/style.css" media="screen">
</head>

<body class="color-page">
	<div class="container-principal" id="topo">
		<header>
			<div class="logo">
				<a href="index.html">
					<img src="static/logo.png" alt="logo site">
				</a>
			</div>
			<nav>
				<ul>
                    <li><a href="login.html">Login</a></li>
					<li><a href="cadastro.html">Registro</a></li>
					<li><a href="pedidos.html">Pedido</a></li>
					<li><a href="coloco o arq aq">Sobre</a></li>
					<li><a href="coloco o arq aq">Contato</a></li>
				</ul>
			</nav>
		</header>
	</div>
</body>
</html>