<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Camy Doces</title>

</head>

<body class="color-page">
    <script type="text/javascript" src="js/index_001.js"></script>
	<div class="container-principal" id="topo">
		<header>
			</div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="bolocenoura.jpg">
                <div class="card-body">
                  <h5 class="card-title">Bolo de cenoura rechado com cochocolate nestle , encomende o seu agora mesmo ! </h5>
                  <p class="card-text"></p>
                  <a href="login.html" class="btn btn-primary">Visitar</a>
                </div>
              </div>
		</header>
	</div>
</body>
</html>