<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylee.css">
	<title>Camy Doces</title>
  <style>
    body {
        background-color: rgb(216, 166, 166);
    }
    img {
      text-align: center;
    }
    div {
      text-align: center;
    }
    h1{
      text-align: center;
    }
    p{
      text-align: center;
    }
    form{
      text-align: center;
    }

    </style>
</head>

<body>
  <div id="geral">
    <div id="topo">
      <input type="checkbox" id="check">
      <label for="check"> <img src="https://assets.stickpng.com/thumbs/588a64f5d06f6719692a2d13.png"></label>
      <nav>
        <ul>
            <li><a href="compra.html">Inicio</a></li>
            <li><a href="homelogado.html">login</a></li>
            <li><a href="homelogado.html">Sobre</a></li>
        </ul>
      </nav>
  </div>
  <H1>Seja Bem vindo!!!!</H1>
  <p>Efetue seu cadastro aqui.</p>
  <div><img src="static/logo.png" width="200" height="200"></div>
  <form  action="" method="post">
    <p>Email:</p> <input type="text" name="txtemail" placeholder="Insira um email"/>
    <br/>
    <p>Senha:</p> <input type="passoword" name="txtsenha"placeholder="Insira uma senha"/>
    <br/>
    <input type="submit" value="enviar"/>
  </form>
</body>
</html>