<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" type="text/css" href="./static/main.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<meta charset="UTF-8">
	<title>Camy Doces</title>
	<link rel="stylesheet" type="text/css" href="stylee.css" media="screen">
    <style>
        body {
            background-color: rgb(216, 166, 166);
        }
        img {
            text-align: center;
        }
        div {
            text-align: center;
        }
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
        form{
            text-align: center;
        }
        a{
            text-align: center;
        }
    
    </style>
</head>

<body>
    <a>Escolha a forma de pagamento</a>
    <h1>Cartao</h1>
    <h1>Dinheiro</h1>
</body>
</html>