<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Bem vindo(a) docinho!</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CamyDoces</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(Página atual)</span></a>
        <a class="nav-item nav-link" href="#">Destaques</a>
        <a class="nav-item nav-link" href="/carrinho/">carrinho</a>
        <a class="nav-item nav-link disabled" href="#">Desativado</a>
      </div>
    </div>
  </nav>



<h2 class="mt-5 ml-5">Os mais pedidos</h2>
<div class="row">
	<div class="col-3 ml-5 mr-5">
		<div class="card w-100" style="width: 18rem;">
			<img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/03/26/09/39/cupcakes-690040_1280.jpg"
				alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">teste</h5>
				<p class="card-text">Llogado.</p>
				<a href="/ConfeitariaTCC/templates/produtos.html" class="btn btn-outline-dark">Encomende agora</a>
			</div>
		</div>
	</div>

	<div class="col-3 ml-5 mr-5">
		<div class="card w-100" style="width: 18rem;">
			<img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/02/29/00/19/cake-1227842__480.jpg"
				alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">teste</h5>
				<p class="card-text">logado</p>
				<a href="/ConfeitariaTCC/templates/produtos.html" class="btn btn-outline-dark">Encomende agora</a>
			</div>
		</div>
	</div>

	<div class="col-3 ml-5 mr-5">
		<div class="card w-100" style="width: 18rem;">
			<img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/03/25/22/35/food-3261027__480.jpg"
				alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">teste</h5>
				<p class="card-text">logado</p>
				<a href="/ConfeitariaTCC/templates/produtos.html" class="btn btn-outline-dark">Encomende agora</a>
			</div>
		</div>
	</div>

</div>

</body>

<div class="footer">
	<footer class="text-center text-white" style="background-color: #f1f1f1;">
</div>

<!-- Copyright -->
<div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	© 2021 Copyright:
	<a class="text-dark" href="https://mdbootstrap.com/">PinguinsWebsites</a>
</div>
<!-- Copyright -->
</footer>
</div>

</html>
