{% extends "layout.html" %}

{% block body %}
  <h2 class="mt-5 ml-5">Nossos produtos</h2>
  <div class="row">

    {% for produto in produtos %}
    <div class="col-3 ml-5 mr-5">
      <div class="card w-100" style="width: 18rem;">
        <img class="card-img-top" src="{{ produto.imagem }}"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ produto.nome }}</h5>
          <h9>R${{ produto.valor }}</h9>
          <p class="card-text">{{ produto.descricao }}</p>
          <a href="/carrinho?addItem={{produto.id}}" class="btn btn-outline-dark">Encomende agora</a>
        </div>
      </div>
    </div>
    {% else %}
    Nenhum produto cadastrado.
    {% endfor %}
  <!-- 
    <div class="col-3 ml-5 mr-5">
      <div class="card w-100" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/02/29/00/19/cake-1227842__480.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bolo de Chocolate c/ Ninho</h5>
          <h9>R$35,00 o kg</h9>
          <p class="card-text">Nosso bolo de chocolate com leite ninho, feito com muito amor, 
            perfeito para encomendar para sua festa de aniversário.</p>
          <a href="../templates/carrinho.html" class="btn btn-outline-dark">Encomende agora</a>
        </div>
      </div>
    </div>
  
    <div class="col-3 ml-5 mr-5">
      <div class="card w-100" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/03/25/22/35/food-3261027__480.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Brigadeiro Goumert</h5>
          <p>R$6,00 unidade</p>
          <p class="card-text">Sua festa de aniversário nunca mais será a mesma, o docinho da tarde perfeito.
            </p>
          <a href="../templates/carrinho.html" class="btn btn-outline-dark">Encomende agora</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 ml-5 mr-5">
        <div class="card w-100" style="width: 18rem;">
          <img class="card-img-top" src="https://media.istockphoto.com/photos/chocolate-panettone-cake-for-christmas-traditional-italian-christmas-picture-id1288495342?b=1&k=20&m=1288495342&s=170667a&w=0&h=Y2p5UCxBsgcBAFhvMo0emqNQ0L4n5Vw5UajHLOX2oF4="
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Chocotone</h5>
            <p>R$80,00</p>
            <p class="card-text">Massa úmida, perfumada, muito chocolate: esse é o chocotone dos sonhos feito com os melhores ingredientes.</p>
            <a href="../templates/carrinho.html" class="btn btn-outline-dark">Encomende agora</a>
          </div>
        </div>
      </div>
    
      <div class="col-3 ml-5 mr-5">
        <div class="card w-100" style="width: 18rem;">
          <img class="card-img-top" src="https://media.istockphoto.com/photos/ice-cream-cone-stuffed-with-dulce-de-leche-chocolate-brigadeiro-picture-id1218473142?b=1&k=20&m=1218473142&s=170667a&w=0&h=TRPp2anQvZzBDDFpbDS-d26mnivpv42Oq4xefioV4U0="
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Cone de Brigadeiro</h5>
            <p>R$8,00</p>
            <p class="card-text">Cone de Chocolate com Avelã. Uma receita de “chocone”, deliciosa e ótimo custo benefício.</p>
            <a href="../templates/carrinho.html" class="btn btn-outline-dark">Encomende agora</a>
          </div>
        </div>
      </div>
    
      <div class="col-3 ml-5 mr-5">
        <div class="card w-100" style="width: 18rem;">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/03/16/18/25/cake-salty-3232107_1280.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tortas Salgadas</h5>
            <p>R$55,00</p>
            <p class="card-text">Quem não gosta de uma deliciosa torta de frango?
              Massa fofinha, frango temperadinho e perfeito para seu lanche da tarde.
            </p>
            <a href="../templates/carrinho.html" class="btn btn-outline-dark">Encomende agora</a>
          </div>
        </div>
      </div>
    -->
</div>
{% endblock %}